// mixins

// custom overlapping rectangle effect
@mixin overlap-rects($top-color, $bottom-color) {
  display: inline-block;
  padding: 0.5em 0.5em;
  color: $white;
  background-color: $top-color;
  box-shadow: 7px 7px 0 $bottom-color;
  font-weight: 400;
}
