
@import 'normalize';
/* main styles */

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  background: $brightblue;
}

.navigation {
  background: $white;
  display: flex;
}

.brand {
  padding: 1em 1.5em;
  & a {
    color: $gray;
    text-decoration: none;
  }
}

.menu {
  margin-left: auto;
  & ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    & li {
      display: block;
      margin-right: 1em;
      padding: 1em 1.5em;
    }
    & li.special-btn {
      position: relative;
      width: 100%;
      padding-right: 200px;
    }
  }
}

a.special-btn__call {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
}

.hero {
  padding: 5em;
  background: $brightblue;
  color: $white;
}

.hero-title {
  position: relative;
}

.hero-text {
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  &__svg {
    position: relative;
    height: 0;
    width: 50%;
    padding: 0;
    padding-bottom: 20%;
    margin: 0 auto;

    &-geekcamp {
      position: absolute;
      height: auto;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
}

.button {
  display: inline-block;
  padding: 1em 1.5em;
  background: $peach;
  box-sizing: border-box;
  color: $white;
  box-shadow: 7px 7px 0 $paleorange;
}