@import 'normalize';


body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  color: $darkgray;
  background-color: $white;
  height: 100%;
}

a {
  color: $brightblue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    transform: scale(.9);
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

p {
  line-height: 1.5;
}

.wrapper {
  min-height: calc(100vh - 80px);
}

.footer {
  background: $navyblue;
}

.footer-menu {
  color: $white;
  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      padding: 30px 0.5em;
      a {
        color: $white;
      }
    }
  }
}

.sub-container {
  max-width: 800px;
  margin: auto;
  padding: 0 1em;
}

nav {
  background-color: rgba($white, .85);
  backdrop-filter: blur(10px);
  font-weight: 500;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 50px;

  a.special-btn__call {
    display: none;
  }

  & + * {
    margin-top: 50px;
  }
}

.brand {
  display: inline-block;
  padding: 1em .5em;
  color: $gray;
  text-decoration: none;
  position: absolute;
  left: -999em;
}

.menu {
  text-align: center;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      a {
        display: inline-block;
        padding: 1em .5em;
      }
    }
  }
}

.hero {
  padding: 3em 0;
  color: $white;
  background: $brightblue url(/images/hero-bg.svg);
  background-size: 50px;
  text-align: center;
  will-change: background-position;
  transition: background-position 10s;
  &:hover {
    background-position: -100px 600px;
  }
}

.logo {
  margin-bottom: 0;
  padding-bottom: 0;
  svg {
    width: 90%;
    max-width: 500px;

    &:hover {
      animation: rainbow 1s linear 10s infinite;
    }
  }
}

@keyframes rainbow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.hero-text {
  font-size: 1.6em;
  margin-top: 0;
  padding-top: 0;
}

.hero-desc {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

a.button {
  display: inline-block;
  padding: 1em 1.5em;
  background-color: $peach;
  color: $white;
  box-shadow: 7px 7px 0 $paleorange;
  font-weight: bold;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:hover {
    transform: scale(1.05) rotate(-1deg);
    text-decoration: none;
  }
}

.header-title {
  display: inline-block;
  padding: 0.5em 0.5em;
  color: $white;
  background-color: $aquamarine;
  box-shadow: 7px 7px 0 $peach;
  font-weight: 400;
}

@media (min-width: 500px) {
  .brand {
    position: static;
  }

  .menu {
    flex: 1;
    text-align: right;
  }

  nav .sub-container{
    display: flex;
  }

}

@media (min-width: 700px) {
  .menu {
    text-align: center;
  }

  nav {
    a.special-btn__call{
      display: inline-block;
      margin-top: 1em;
    }
  }

  .hero {
    padding: 4em 0;
  }
}
