@import 'normalize';
@import 'mixins';

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  color: $darkgray;
  background-color: $white;
  height: 100%;
}

a {
  color: $brightblue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    transform: scale(.9);
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

p {
  line-height: 1.5;
}

.footer {
  background: $mouldygreen;
}

.footer-menu {
  color: $white;
  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      padding: 30px 0.5em;
      a {
        color: $white;
      }
    }
  }
}

.sub-container {
  max-width: 800px;
  margin: auto;
  padding: 0 1em;
}

.sub-wide-container {
  padding: 0 1em;
}

main {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: rgba($white, .85);
  backdrop-filter: blur(10px);
  font-weight: 500;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 50px;

  a.special-btn__call {
    // display: none;
  }

  & + * {
    margin-top: 50px;
  }
}

.brand {
  display: inline-block;
  padding: 1em .5em;
  color: $gray;
  text-decoration: none;
  position: absolute;
  // left: -999em;
}

.menu {
  text-align: center;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      a {
        display: inline-block;
        padding: 1em .5em;
      }
    }
  }
}

.hero {
  padding: 3em 0;
  color: $white;
  background: $originalgreen url(/images/hero-bg.svg);
  background-size: 50px;
  text-align: center;
  will-change: background-position;
  transition: background-position 10s;
  flex-grow: 1;
  display: flex;
  &:hover {
    background-position: -100px 600px;
  }
}

.logo {
  margin-bottom: 0;
  padding-bottom: 0;
  width: 240px;
  margin: -30px auto 40px;
  img {
    display: block;
    width: 100%;
  }
}

.sky {
  color: $sky;
}

.header-title {
  border-bottom: 5px solid $emojiyellow;
  display: inline-block;
}

.talks {
  padding-top: 4em;
  margin: 0 auto 100px;
  a {
    color: #fff;
    text-decoration: underline;
    opacity: 0.75;
    font-size: 0.9em;
    &:hover {
      opacity: 1;
    }
  }
}
.talk {
  margin-bottom: 3em;
}
.talk-number {
  display: inline-block;
  font-size: 0.5em;
  background-color: $emojiaccent;
  color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  margin: 0 0.5em 0 0;
  line-height: 25px;
  vertical-align: 0.4em;
}
.talk-title {
  color: $sky;
  font-size: 2em;
  margin-bottom: 0.35em;
}
.talk-speaker {
  font-size: 1.5em;
  line-height: 1.5;
  margin-top: 0.25em;
  color: $emojiyellow;
}

.talk-metas {
  display: flex;
  justify-content: center;
}
.talk-meta {
  font-size: 0.8em;
  line-height: 1.5;
  display: inline-block;
  text-align: right;
  flex: 1;
  & + & {
    margin-left: 1.5em;
    text-align: left;
  }
  strong {
    display: block;
    opacity: 0.75;
  }
}

.sponsors {
  margin: 0 0 50px;
}

.sponsor-logos {
  display: flex;
  flex-direction: column;
}
.sponsor-logo {
  flex: 1 0 35vw;
  padding: 5%;
  background: #fff;
  margin: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 100%;
  }
}

@keyframes rainbow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.hero-text {
  font-size: 1.6em;
  margin-top: 0;
  padding-top: 0;
  margin: 10px 0 0;

  .button {
    margin-bottom: 1em;
  }
}

.fine-text {
  font-size: 0.7em;
  line-height: 1.5;
}

.hero-desc {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.conf-date {
  font-size: 1.7em;
}

a.button {
  display: inline-block;
  padding: 1em 1.5em;
  background-color: $emojiyellow;
  color: #000;
  // box-shadow: 7px 7px 0 $paleorange;
  font-weight: bold;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 15px;
  border: 5px solid #000;

  &:hover {
    transform: scale(1.05) rotate(-1deg);
    text-decoration: none;
  }

  strong {
    color: $emojiaccent;
    font-weight: inherit;
  }

  &-secondary {
    box-shadow: none;
  }
}

@keyframes moveabit {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

#schedule {
  padding-top: 3em;

  .header-subtitle {
    // margin: 0;
  }

  table {
    table-layout: fixed;
    border-spacing: 0;
    width: calc(100% + 2em);
    margin-left: -1em;
    background: #4aad4a;
  }

  .no-talk {
    color: rgba($darkgray, .5);
  }

  td {
    padding: 10px;
    vertical-align: top;
    line-height: 1.5;
  }
  td:first-child {
    white-space: nowrap;
    text-align: right;
    font-family: monospace;
    font-size: 1.1em;
    text-transform: uppercase;
    width: 8em;
  }

  tr:nth-child(even) {
    background-color: #5cb55c;
  }

  summary {
    cursor: pointer;
    transition: all .3s;
    outline: 0;
    user-select: none;
  }

  summary + * {
    font-size: .9em;
  }

  details {
    p {
      margin-top: .5em;
      padding-top: 0;
      font-size: .9em;
    }

    .details {
      display: inline-block;
    }
  }

  .by {
    padding-left: .25em;
    display: inline-block;
    color: opacify(#fff, .7);

    img {
      object-fit: cover;
      border-radius: 18112017px;
      vertical-align: text-bottom;
    }
  }
}

#coc {
  padding-top: 3em;
  padding-bottom: 3em;

  p small {
    color: $gray;
    font-size: 0.9em;
  }

  .header-title {
    @include overlap-rects($aquamarine, $peach);
  }
}

#venue {
  padding-top: 3em;

  .header-title {
    @include overlap-rects($paleorange, $aquamarine);
  }

  .venue-map {
    border: 2px solid $brightblue;
    box-shadow: 7px 7px 0 $brightblue;
    vertical-align: top;
    line-height: 0;
  }
}

#apps {
  padding-top: 3em;

  .header-title {
    padding: 0.5em 0 0 0.5em;
    color: $darkgray;
    margin: 0;
  }

  .content {
    background-color: $navyblue;
    color: $white;
    padding: 1em 0;
    position: relative;
    max-width: 800px;
    color: $darkgray;
    background-color: transparent;
    margin: auto;
    overflow: hidden;

    .desc {
      max-width: 24em;
    }

    & > img {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
}

#sponsors {
  padding-top: 3em;

  .header-title {
    @include overlap-rects($brightblue, $paleorange);
  }

  .sponsors-list {
    text-align: center;
  }

  img {
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 100px;
    margin: 15px;
  }
}

.coc {
  margin-bottom: 100px;
}

#schedule-content {
  text-align: left;
  margin-bottom: 50px;
}

.villages-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.village {
  flex: 0 0 45%;
  margin: 0 2.5% 2.5%;
}
.village-logo {
  margin: 0 0 1.5em 0;
  background: #fff;
  padding: 5%;
  height: 169px;
  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
  }
}


@media (max-width: 500px) {
  a.special-btn__call {
    position: absolute;
    right: 10px;
    width: 38%;
    text-align: center;
    line-height: 1.5;
    padding: 0.5em;
    top: 10px;
  }
  .footer-menu ul li {
    padding: 0.8em;
  }
}

@media (min-width: 500px) {
  .brand {
    position: static;
  }

  .menu {
    flex: 1;
    text-align: right;
  }

  nav .sub-container{
    display: flex;
  }

  .hero-text {
    margin-bottom: 30px;
  }

  .sponsor-logos {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .sponsor-logo {
    flex: 0 0 45%;
  }
}

@media (min-width: 700px) {
  .menu {
    text-align: center;
  }

  nav {
    a.special-btn__call{
      display: inline-block;
      margin-top: 1em;
    }
  }

  .hero {
    padding: 4em 0;
  }

  #apps {
    .content {
      .desc {
        margin-right: 300px;
      }

      & > img {
        width: 100%;
        height: auto;
      }
    }
  }
  .villages-holder {
    flex-direction: row;
  }
}