---
export interface Props {
  subTitle: string
}

const { subTitle } = Astro.props
---

<div class="topbar">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="80"
    height="21"
    viewBox="0 0 54 14"
  >
    <g fill="none" fill-rule="evenodd" transform="translate(1 1)">
      <circle
        cx="6"
        cy="6"
        r="6"
        fill="#FF8B8B"
        stroke="#FA7C7C"
        stroke-width=".5"></circle>
      <circle
        cx="26"
        cy="6"
        r="6"
        fill="#F0CF61"
        stroke="#EBC64C"
        stroke-width=".5"></circle>
      <circle
        cx="46"
        cy="6"
        r="6"
        fill="#61BFAD"
        stroke="#46AE9A"
        stroke-width=".5"></circle>
    </g>
  </svg>
  <div class="subtitle">{subTitle}</div>
</div>

<style>
  .topbar {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.65rem;
  }
  svg {
    height: 15px;
    width: 60px;
  }
  @media screen and (min-width: 768px) {
    .topbar {
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 1.25rem;
    }
    svg {
      height: auto;
      width: auto;
    }
  }

  .subtitle {
    color: var(--white);
    font-family: var(--code-font);
    padding-right: 80px;
    margin: auto;
  }
</style>
