<section id="about" class="rows">
  <div>
    <h2>
      What is <br /> Geekcamp?
    </h2>
  </div>
  <div>
    <p>
      We're a free, one-day event that brings together hundreds of geeks in
      Singapore to have fun sharing about technologies and knowledge, connecting
      the community through curated talks, by geeks, for geeks.
    </p>
    <p>
      Some of our past topics include databases, cybersecurity, 3D printing,
      dependency management, verifiable computing, blockchain, hardware version
      control, algorithms, internet scanning, compilers, interpreters,
      statistics, machine learning, authentication, orchestration, open-source
      and many more.
    </p>
  </div>
</section>

<style>
  h2 {
    --stroke-color: var(--red);
  }
</style>
