<section id='about' class='rows'>
  <div>
    <h2>
      What is <br /> Geekcamp?
    </h2>
  </div>
  <p>
    A one-stop event to get acquainted and grow your tech network in Singapore:
    a hybrid online + in-person GeekcampSG. The end goal:
    <strong
      >to reignite vibrant and inspiring meetups in the tech community</strong
    >.
  </p>
</section>

<style>
  h2 {
    --stroke-color: var(--red);
  }
</style>
