---
import * as cfp from "@src/data/cfp"
---

<section id="cfp" class="rows">
  <div>
    <h2>
      Calling <br /> for speakers!
    </h2>
  </div>
  <div>
    <p>
      We are calling for volunteers and talk proposals to craft / build / hack
      an experience that every participant will never forget. It could be
      targeted at the general audience or a technical deep-dive you're excited
      to share about.
    </p>
    <p>
      Send us your ideas and proposals here: <a href={cfp.link}>{cfp.link}</a>
    </p>
  </div>
</section>

<style>
  section {
    margin-top: 3.5rem;
  }
  h2 {
    --stroke-color: var(--yellow);
  }
</style>
