<section id="coc" class="rows">
  <div>
    <h2>
      Code
      <br /> of
      <br /> Conduct
    </h2>
  </div>
  <div>
    <p>
      All participants are expected to adhere to the CoC both onsite and online.
      The guiding principle is respect and care for self and others. Examples of
      unacceptable behaviours include (not exhaustive):
    </p>
    <ul>
      <li>
        Offensive comments related to gender identity and expression, sexual
        orientation, disability, mental illness, neuro(a)typicality, physical
        appearance, body size, race, or religion
      </li>
      <li>
        Gratuitous or off-topic sexual images or behavior in spaces where they
        are not appropriate
      </li>
      <li>
        Threats of violence or incitement of violence towards any individual,
        including encouraging a person to commit suicide or to engage in
        self-harm
      </li>
      <li>
        Publication of non-harassing private communication or another member's
        personal information without their explicit consent
      </li>
    </ul>
    <p>
      The CoC applies to all GeekcampSG attendees, including organisers,
      sponsors, speakers and talk attendees.
    </p>
    <h3>Reporting violations</h3>
    <p>In the event that you need to report a CoC violation:</p>
    <ol>
      <li>
        Reporting methods
        <ol>
          <li>
            <b>On-site</b>
            <ul>
              <li>
                Approach any Geekcamp organiser (wearing an Organiser shirt)
              </li>
              <li>
                Alternatively, head to the registration desk and inform the
                volunteers that you would like to report a violation.
              </li>
            </ul>
          </li>
          <li>
            <b>Online: Discord</b>
            <ul>
              <li>
                Create a ticket at Contact Us &gt; <a
                  href="/discord">#report-issue</a
                >. A new, private ticket channel will be created under the
                Tickets category, where you can send a moderator more details on
                the violation.
              </li>
              <li>
                If you feel uncomfortable creating a ticket, feel free to reach
                out to us via private message.
              </li>
            </ul>
          </li>
        </ol>
      </li>
      <li>
        What to include when reporting
        <ul>
          <li>
            Identifying information of the participant doing the harassing
            <ul>
              <li><b>On-site:</b> Name and outfit description</li>
              <li>
                <b>Online:</b> Discord username (Username#1234), server nickname<ul
                >
                  <li>
                    Discord username: Right-click on the participant’s profile
                    picture.
                  </li>
                  <li>
                    Server nickname: The name displayed on top of the message.
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>The behaviour that was in violation</li>
          <li>The approximate time of the behaviour</li>
          <li>The circumstances surrounding the incident</li>
          <li>
            Evidence of the violation, if available
            <ul>
              <li>
                Online: A screenshot of the conversation where the violation
                occurred
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ol>
    <p>
      We will respect confidentiality requests for the purpose of protecting
      victims of abuse. At our discretion, we may publicly name a person about
      whom we’ve received harassment complaints. We will not name harassment
      victims without their affirmative consent.
    </p>
    <h3>Consequences</h3>
    <p>
      The participant will face the following, in order of increasing severity:
    </p>
    <ol>
      <li>
        Time-out
        <p>
          If a participant has exhibited concerning behavior, as outlined in the
          rules, they may be pulled into timeout. During timeout, the
          participant will have a discussion with our Code of Conduct
          representatives about any concerning behaviors until we have come to
          an agreement.
        </p>
        <ol>
          <li>
            <b>On-site</b>
            <p>
              The participant will be separated from other participants and have
              a discussion with our Code of Conduct representatives in a private
              setting.
            </p>
          </li>
          <li>
            <b>Online</b>
            <p>
              The participant loses access to all channels on the Geekcamp
              server other than timeout. Only the timed-out participant and the
              mods will be able to see the conversation.
            </p>
          </li>
        </ol>
      </li>
      <li>
        Kicked from Geekcamp Conference
        <ol>
          <li>
            <b>On-site</b>
            <p>
              The participant will be escorted off the premises and will not be
              allowed to re-enter.
            </p>
          </li>
          <li>
            <b>Online</b>
            <p>The user will be banned from the Geekcamp Discord server.</p>
          </li>
        </ol>
      </li>
      <li>
        Escalation to authorities
        <ol>
          <li>
            <b>On-site</b>
            <p>
              Geekcamp organisers will liaise with the venue host to initiate
              actions such as reporting to building security and/or police for
              their follow-up action.
            </p>
          </li>
          <li>
            <b>Online</b>
            <p>
              Geekcamp organisers will provide supporting evidence to Discord
              administrators and/or local law enforcement authorities for their
              follow-up action.
            </p>
          </li>
        </ol>
      </li>
    </ol>
  </div>
</section>

<style>
  h2 {
    --stroke-color: var(--green);
  }
  li,
  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  h3 {
    color: var(--green);
    font-family: var(--title-font);
    font-size: 3rem;
  }
</style>
