<section id="meetupgrps" class="rows">
  <div>
    <h2>
      GeekcampSG
      <br /> X
      <br /> Local Tech Communities
    </h2>
  </div>
  <div>
    <p>
      Local tech communities are most welcome to present a talk and get
      involved!
    </p>
    <p>
      Rally your community to submit talk proposals relevant to your interest
      areas. There are limited slots for both headline and parallel tracks, so
      submit early to avoid disappointment! If your talk is accepted, we will
      work closely with you to promote it to GeekcampSG attendees and our social
      media.
    </p>
    <p>
      For more information, get in touch with the organiser who contacted you.
      :)
    </p>
  </div>
</section>
<style>
  h2 {
    --stroke-color: var(--green);
  }
</style>
