---
import * as cfp from '@src/data/cfp';
---

<section id='schedule' class='rows'>
  <div>
    <h2>Schedule</h2>
  </div>
  <div>
    <p>
      Watch this space! Want to speak? Submit a talk proposal via <a
        href={cfp.link}>sessionize</a
      >!
    </p>
  </div>
</section>

<style>
  h2 {
    --stroke-color: var(--green);
  }
</style>
