---
import Tweets from "./Tweets.astro"
const tweetUrls = [
  "https://twitter.com/subhransu/status/1562416772866707456",
  "https://twitter.com/arashnrim/status/1587004027153559552",
  "https://twitter.com/Knguyentrieu/status/1185475318858928129",
  "https://twitter.com/wgx731/status/1185354142803361792",
  "https://twitter.com/sylviang/status/1587062622251208704",
]
---

<section id="testimonials" class="rows">
  <div>
    <h2>What People Said</h2>
  </div>
  <div class="tweet-container" style={`--num-tweets: ${tweetUrls.length};`}>
    <Tweets urls={tweetUrls} />
  </div>
</section>

<style>
  h2 {
    --stroke-color: var(--blue);
  }

  .tweet-container {
    display: grid;
    grid-template-columns: repeat(var(--num-tweets), 1fr);
    gap: 1rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
</style>
