---
import TwitterWidgetScript from './TwitterWidgetScript.svelte';
import Tweet from './Tweet.astro';
---
<section id='testimonials' class='rows'>
  <div>
    <h2>What People Said</h2>
  </div>
  <div class='tweet-container'>
    <Tweet tweetId="1562416772866707456" />
    <Tweet tweetId="1185475318858928129" />
    <Tweet tweetId="1185354142803361792" />

    <TwitterWidgetScript client:visible client:idle />
  </div>
</section>

<style>
  h2 {
    --stroke-color: var(--blue);
  }

  .tweet-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
</style>
