---
import { Image } from 'astro:assets';
import engineersSg_2x from './logos/engineers.sg@2x.png';
import engineersSg from './logos/engineers.sg.png';
import geekhacking_2x from './logos/geekhacking@2x.png';
// import geekcamp from "./logos/geekcamp.png"
// import geekcamp_2x from "./logos/geekcamp@2x.png"
import geekhacking from './logos/geekhacking.png';
import goSg_2x from './logos/go.sg@2x.png';
import goSg from './logos/go.sg.png';
import hackerspace_2x from './logos/hackerspace@2x.png';
import hackerspace from './logos/hackerspace.png';
import iosconf_2x from './logos/iosconf@2x.png';
import iosconf from './logos/iosconf.png';
import python_2x from './logos/python@2x.png';
import python from './logos/python.png';
import rubySg_2x from './logos/ruby.sg@2x.png';
import rubySg from './logos/ruby.sg.png';
import singaporecss_2x from './logos/singaporecss@2x.png';
import singaporecss from './logos/singaporecss.png';
import singaporejs_2x from './logos/singaporejs@2x.png';
import singaporejs from './logos/singaporejs.png';

const partners: {
  name: string;
  images: [ImageMetadata, ImageMetadata];
  link: string;
}[] = [
  /*
  {
    name: 'Engineers.SG',
    images: [engineersSg, engineersSg_2x],
    link: 'https://engineers.sg/',
  },
  {
    name: 'GeeksHacking',
    images: [geekhacking, geekhacking_2x],
    link: 'https://geekshacking.com',
  },
  {
    name: 'GoSG',
    images: [goSg, goSg_2x],
    link: 'https://www.meetup.com/golangsg/',
  },
  {
    name: 'HackerspaceSG',
    images: [hackerspace, hackerspace_2x],
    link: 'https://hackerspace.sg/',
  },
  {
    name: 'PUGS',
    images: [python, python_2x],
    link: 'https://pugs.org.sg/',
  },
  {
    name: 'RubySG',
    images: [rubySg, rubySg_2x],
    link: 'https://ruby.sg/',
  },
  {
    name: 'SingaporeCSS',
    images: [singaporecss, singaporecss_2x],
    link: 'https://github.com/SingaporeCSS/talk.css',
  },
  {
    name: 'SingaporeJS',
    images: [singaporejs, singaporejs_2x],
    link: 'https://www.meetup.com/Singapore-JS/',
  },
  {
    name: 'iosconfsg',
    images: [iosconf, iosconf_2x],
    link: 'https://2022.iosconf.sg/',
  },
  */
];
---

{
  partners.length > 0 ? (
    <section id="partners" class="rows">
      <div>
        <h2>Partners</h2>
      </div>
      <div class="partners">
        {partners.map(({ name, images: [img1x, img2x], link }) => (
          <a href={link}>
            <Image src={img1x} alt={name} />
          </a>
        ))}
      </div>
    </section>
  ) : null
}

<style>
  h2 {
    --stroke-color: var(--red);
  }
  .partners {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  @media screen and (min-width: 768px) {
    .partners {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media screen and (min-width: 960px) {
    .partners {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  img {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
</style>
