---
const streams = [
  {
    section: 'Geekcamp',
    streams: [
      'https://www.youtube.com/embed/jP8kSkVaG2g',
      'https://www.youtube.com/embed/0ZEEEQN0St4',
    ],
  },
  {
    section: 'Barcamp',
    streams: [
      'https://www.youtube.com/embed/k-hCX30uJT4',
      'https://www.youtube.com/embed/MA4hiclbpW4',
    ],
  },
];
---

<section id="live" class="rows">
  <div>
    <h2>Watch the Livestream</h2>
  </div>
  <div>
    {
      streams.map(({ section, streams }) => {
        return (
          <>
            <h3>{section}</h3>
            {streams.map((stream) => (
              <iframe
                style="max-width: 100%"
                width="560"
                height="315"
                src={stream}
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              />
            ))}
          </>
        )
      })
    }
  </div>
</section>
