<section id="live" class="rows">
  <div>
    <h2>
      Watch the Livestream
    </h2>
  </div>
  <div>
  <h3>Geekcamp</h3>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/jP8kSkVaG2g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/0ZEEEQN0St4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h3>Barcamp</h3>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/k-hCX30uJT4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/MA4hiclbpW4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</section>
