---
import Layout from "@src/layouts/Layout.astro"
---

<Layout title="404: Not found">
  <section>
    <h1>NOT FOUND</h1>
    <p>
      You just hit a route that doesn&#39;t exist...
      <br />
      Let's <a href="/">go back to the main page</a>.
    </p>
  </section>
</Layout>

<style>
  section {
    padding: var(--padding);
  }
  h1 {
    margin-top: 1em;
    font-size: 5.5rem;
  }
</style>
