:root {
  --red: #ff8b8b;
  --yellow: #f0cf61;
  --green: #61bfad;
  --blue: #0bbcd6;
  --black: hsla(0, 0%, 0%, 0.8);
  --darkblue: #4e5264;
  --coal: #1b1c22;
  --white: #f1f1f1;
  --darkgray: #282a35;
}

body {
  font-size: 1.222222222rem;
  line-height: 1.454545455;
}

.contain {
  max-width: 1440px;
  margin: 0 auto;
}

.vessel {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

h2 {
  display: inline-block;
  font-weight: 400;
  line-height: 0.9375;
  text-transform: uppercase;
  font-family: "Staatliches", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-size: 3rem;
  position: relative;
  padding-bottom: 0.75rem;
  margin-bottom: 1.5rem;
  color: #535b6c;
}

h2 br {
  display: none;
}

h2::after {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
}

section {
  margin-bottom: 3.5rem;
}

.section-about h2::after,
.section-speakers h2::after,
.section-partners h2::after,
.section-past-events h2::after {
  background-color: var(--red);
}
.section-schedule h2::after,
.section-past-speakers h2::after,
.section-coc h2::after {
  background-color: var(--green);
}
.section-bonus h2::after,
.section-testimonials h2::after {
  background-color: var(--blue);
}
.section-venue h2::after,
.section-committee h2::after,
.section-sponsors h2::after {
  background-color: var(--yellow);
}

h3 {
  font-size: 1.777777778rem;
  line-height: 1;
  margin-bottom: 0.25em;
}

h4 {
  text-transform: uppercase;
  font-size: 1.444444444rem;
  line-height: 2;
}

figure {
  margin: 0;
}

a {
  color: var(--green);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: var(--blue);
}

.c-y {
  color: var(--yellow);
}
.c-b {
  color: var(--blue);
}
.c-r {
  color: var(--red);
}
.c-g {
  color: var(--green);
}

@media screen and (min-width: 1280px) {
  .vessel {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  h2 {
    font-size: 4.888888889rem;
    margin-bottom: 3.5rem;
  }
  h2 br {
    display: initial;
  }
  .cols {
    display: flex;
  }
  .left {
    width: 32%;
    margin-right: 3%;
  }
  .right {
    width: 65%;
  }
  .cols--alt .left {
    width: 32%;
  }
}
