<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="geekcamp singapore" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
  </head>
  <body>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src =
          '//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=714733198720948';
        fjs.parentNode.insertBefore(js, fjs);
      })(document, 'script', 'facebook-jssdk');
    </script>
    <main>
      <nav>
        <div class="sub-container">
          <a class="brand" href="/">Geekcamp Singapore</a>
          <div class="menu"></div>
        </div>
      </nav>
      <section class="hero">
        <div class="sub-container">
          <h1 class="title">GeekcampSG 2019</h1>
          <h1 class="logo">
            <img src="/images/geekcamp-logo-white.png" alt="Geekcamp.SG" />
          </h1>
          <div class="hero-text">
            <p class="conf-date">19th Oct 2019</p>
            <p class="conf-venu">Venue: TBA</p>
            <a
              target="_blank"
              href="https://www.papercall.io/geekcamppsg2019"
              class="button hero-button"
              ><strong>🗳 CFP is now open!</strong> 🖍</a
            >
          </div>
          <p class="cfp-close">closes 31 Jul 2019</p>
          <p class="hero-desc">
            Geekcamp Singapore is a one day event that brings together hundreds
            of geeks to share about technologies and knowledge.
          </p>
        </div>
      </section>

      <footer class="footer">
        <div class="sub-container">
          <div class="footer-menu">
            <ul>
              <li>
                <a
                  href="https://www.facebook.com/GeekcampSG/"
                  title="Geekcampsg facebook"
                  >Facebook</a
                >
              </li>
              <li>
                <a href="https://twitter.com/geekcamp" title="Twitter"
                  >Twitter</a
                >
              </li>
              <li><a href="http://bit.ly/geekcampslack">Slack</a></li>
              <li>
                <a href="https://github.com/GeekcampSG/geekcampsg.github.io"
                  >GitHub</a
                >
              </li>
            </ul>
          </div>
        </div>
      </footer>
    </main>
    <script>
      (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        (i[r] =
          i[r] ||
          function() {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(
        window,
        document,
        'script',
        'https://www.google-analytics.com/analytics.js',
        'ga'
      );

      ga('create', 'UA-105379506-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
