<!DOCTYPE html>
<html>
<head>
  <title>{{ .Title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="geekcamp singapore">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="shortcut icon" type="image/png" href="favicon.png">
</head>
<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=714733198720948";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <main>
    <nav>
      <div class="sub-container">
        <a class="brand" href="/">Geekcamp Singapore</a>
        <div class="menu"></div>
        <a href="http://bit.ly/geekcampsg2017slack" class="special-btn__call button">Join us on <strong>Slack!</strong></a>
      </div>
    </nav>
    <section class="hero">
      <div class="sub-container">
        <h1 class="logo">
          <img src="/images/geekcamp-logo-white.png" alt="Geekcamp.SG">
        </h1>
        <div class="hero-text">
          <p>Coming in <b>early 2019</b>!</p>
          <a target="_blank" href="https://www.papercall.io/geekcampsg2018" class="button hero-button"><strong>Register now</strong> to vote <br/>for the talks you want to hear!</a>
          <div class="fine-text">Voting period is <strong class='sky'>3rd – 9th Dec 2018</strong> and is limited to the <strong class='sky'>first 200 registrations</strong>.<br />Voters will receive a mystery door gift on event day!</div>
        </div>

        <section class="talks">
          <h2>Vote these talks:</h2>

          <div class="talk">
            <h3 class="talk-title"><span class='talk-number'>1</span> Genetic Algorithms in Go</h3>
            <em>by</em>
            <div class="talk-speaker">Chang Sau Sheong</div>
            <div class="talk-speaker-social"><a href='http://twitter.com/sausheong' target="_blank">@sausheong</a></div>
            <p>Genetic algorithms are metaheuristics that are based on the process of natural selection. This talk give a simple introduction to GA, with a couple of examples including evolving a phrase from Shakespeare’s Hamlet, and also an image of Mona Lisa.</p>
            <div class="talk-metas">
              <div class="talk-meta"><strong>Level:</strong> Beginner</div>
              <div class="talk-meta"><strong>Tags:</strong> Go, Genetic Algorithm, Artificial Intelligence</div>
            </div>
          </div>



        </section>

        <p class="hero-desc">Geekcamp Singapore is a one day event that brings together hundreds of geeks to share about technologies and knowledge.</p>
        <div class="hero-actions">
          <a href="https://engineers.sg/conference/geekcampsg-2017" class="button button-secondary">🎉 Geekcamp 2017 videos are up! Watch on <strong>Engineers.SG</strong>! 📣</a>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="sub-container">
        <div class="footer-menu">
          <ul>
            <li><a href="https://www.facebook.com/GeekcampSG/" title="Geekcampsg facebook">Facebook</a></li>
            <li><a href="https://twitter.com/geekcamp" title="Twitter">Twitter</a></li>
            <li><a href="http://bit.ly/geekcampsg2017slack">Slack</a></li>
            <li><a href="https://github.com/GeekcampSG/geekcampsg.github.io">GitHub</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </main>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-105379506-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
