---
import alan from "./images/alan.png?width=100"
import alvin from "./images/alvin.png?width=100"
import ambrose from "./images/ambrose.jpeg?width=100"
import brian from "./images/brian.png?width=100"
import don from "./images/don.png?width=100"
import hazel from "./images/hazel.png?width=100"
import hongkheng from "./images/hongkheng.png?width=100"
import jianzhen from "./images/jianzhen.png?width=100"
import juliana from "./images/juliana.png?width=100"
import lihautan from "./images/lihautan.png?width=100"
import luther from "./images/luther.png?width=100"
import mrgi from "./images/mrgi.png?width=100"
import patricia from "./images/patricia.png?width=100"
import perwyl from "./images/perwyl.png?width=100"
import sam from "./images/sam.png?width=100"
import sampoder from "./images/sampoder.jpeg?width=100"
import shao from "./images/shao.png?width=100"
import sreedhar from "./images/sreedhar.jpeg?width=100"
import stephanie from "./images/stephanie.png?width=100"
import terence from "./images/terence.png?width=100"
import thye from "./images/thye.png?width=100"
import tomoe from "./images/tomoe.png?width=100"
import vina from "./images/vina.png?width=100"
import weitat from "./images/weitat.png?width=100"
import chiran from "./images/chiran.png?width=100"
import eliot from "./images/eliot.png?width=100"
import nori from "./images/nori.png?width=100"

const organisers = [
  //{ name: "Alan", image: alan },
  //{ name: "Alvin", image: alvin },
  { name: "Ambrose", image: ambrose },
  //{ name: "Brian", image: brian },
  //{ name: "Chiran", image: chiran },
  //{ name: "Don", image: don },
  //{ name: "Eliot", image: eliot },
  //{ name: "Hazel", image: hazel },
  //{ name: "Hong Kheng", image: hongkheng },
  { name: "Jian Zhen", image: jianzhen },
  { name: "Juliana", image: juliana },
  { name: "Li Hau", image: lihautan },
  //{ name: "Luther", image: luther },
  //{ name: "Mr Gi", image: mrgi },
  //{ name: "Nori", image: nori },
  //{ name: "Patricia", image: patricia },
  { name: "Perwyl", image: perwyl },
  { name: "Sam", image: sam },
  //{ name: "Sam Poder", image: sampoder },
  //{ name: "Shao", image: shao },
  //{ name: "Sreedhar", image: sreedhar },
  //{ name: "Stephanie", image: stephanie },
  { name: "Terence", image: terence },
  //{ name: "Thye", image: thye },
  { name: "Tomoe", image: tomoe },
  //{ name: "Vina", image: vina },
  //{ name: "Wei Tat", image: weitat },
]
---

<section id="organisers" class="rows">
  <div>
    <h2>Organisers</h2>
  </div>
  <div class="grid">
    {
      organisers.map((organiser) => {
        return (
          <div class="organiser">
            <div class="container">
              <img loading="lazy" src={organiser.image} alt={organiser.name} />
            </div>
            {organiser.name}
          </div>
        )
      })
    }
  </div>
</section>

<style>
  h2 {
    --stroke-color: var(--yellow);
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  @media screen and (min-width: 600px) {
    .grid {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  @media screen and (min-width: 900px) {
    .grid {
      grid-template-columns: repeat(8, 1fr);
    }
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  .organiser {
    text-align: center;
  }
  .container {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 0;
    padding-bottom: 100%;
  }
</style>
