<section id="apps">
  <div class="content">
    <h2 class="header-title">Get the App!</h2>
    <img src="/images/apps-bg.jpg" alt="">
    <div class="sub-container">
      <p class="desc">Brings you an easier way to stay tuned to the schedule and submit feedback to us!</p>
      <p>
        <a href="https://itunes.apple.com/app/geekcamp/id1312237487" target="_blank"><img src="/images/app-store-badge.svg" height="60" alt="Download on the App Store"></a>
        <a href="https://play.google.com/store/apps/details?id=sg.geekcamp.schedule" target="_blank"><img src="/images/google-play-badge.svg" height="60" alt="Get it on Google Play"></a>
      </p>
    </div>
  </div>
</section>