<section id="schedule">
  <div class="sub-container">
    <h2 class="header-title">Schedule</h2>
    <h3 class="header-subtitle">Saturday, 18th November</h3>
    <div id="schedule-content">Loading&hellip;</div>
  </div>
</section>
<script>
  var dataURL = 'https://spreadsheets.google.com/feeds/list/1DsQpdJxF2N0zAR6UM1ornsI5p4dYTU3n6f3vAtQC1BU/1/public/values?alt=json';
  function renderSchedule(data){
    var html = '<table>';
    data.rows.forEach(function(talk){
      var time = talk.time
        .replace(/\s\-.*$/, '')
        .replace(/(\w)\.m\.?/, '$1m')
        .replace(/^0/, '');
      var title = talk.title.trim();
      if (/lunch$/i.test(title)) title += ' 🍱';
      if (/break$/i.test(title)) title += ' ☕️';
      if (/party$/i.test(title)) title += ' 🎉';
      var speakername = talk.speakername.trim();
      var talkdescription = talk.talkdescription.trim();
      var speakerimage = talk.speakerimage.trim();
      var speakertwitter = talk.speakertwitter.trim();
      if (!speakerimage && speakertwitter && !/geekcamp|nil/.test(speakertwitter)){
        speakerimage = 'https://avatars.io/twitter/' + encodeURIComponent(speakertwitter);
      }

      html += '<tr class="' + (speakername ? 'talk' : 'no-talk') + '">'
          + '<td>' + time + '</td>'
          + '<td>'
            + (talkdescription && speakername  ? (
              '<details>'
                + '<summary>'
                  + '<b>' + title + '</b> '
                  + '<span class="by">by '
                  + (speakerimage ? (
                      '<img src="' + speakerimage + '" alt="" width="20" height="20"> '
                    ) : '')
                  + speakername + '</span>'
                + '</summary>'
                + '<p>' + talkdescription + '</p>'
              + '</details>'
            ) : (
              '<b>' + title + '</b> '
              + (speakername ? (
                  '<span class="by">by '
                  + (speakerimage ? (
                      '<img src="' + speakerimage + '" alt="" width="20" height="20"> '
                    ) : '')
                  + speakername + '</span>'
                ) : '')
            ))
          + '</td>'
        + '</tr>';
    });
    html += '</table>';
    document.getElementById('schedule-content').innerHTML = html;
  };
  function massageData(data){
    return {
      rows: data.feed.entry.map(function(entry){
        var keys = 'speakerimage speakername speakertwitter talkdescription time title'.split(' ');
        var result = {};
        keys.forEach(function(key){
          var e = entry['gsx$' + key];
          if (e) result[key] = e['$t'].trim();
        });
        return result;
      }),
    };
  }
  function getSchedule(){
    var key = 'talks-schedule';
    try {
      var data = localStorage.getItem(key);
      if (data) renderSchedule(JSON.parse(data));
    } catch(e) {}
    var xhr = new XMLHttpRequest();
    xhr.onload = function(){
      var data = massageData(JSON.parse(xhr.responseText));
      renderSchedule(data);
      try {
        localStorage.setItem(key, JSON.stringify(data));
      } catch (e){}
    };
    xhr.open('GET', dataURL, true);
    xhr.send();
  };
  getSchedule();
  document.querySelector('#schedule .header-title').ondblclick = getSchedule;
</script>