<section id="sponsors">
  <div class="sub-container">
    <h2 class="header-title">Sponsors</h2>
    <div class="sponsors-list">
      <a href="https://www.spgroup.com.sg/home" target="_blank"><img src="images/spgroup-logo.svg" height="" alt="SPGroup"></a>
      <a href="https://www.zendesk.com/" target="_blank"><img src="images/z-logo.svg" height="" alt="Zendesk"></a>
      <img src="images/paypal-logo.svg" height="" alt="PayPal">
      <img src="images/buuuk-logo.svg" height="" alt="Buuuk">
    </div>
  </div>
</section>