{{ $talks := getJSON "data/talk_submissions.json" }}
{{ range $talks }}
    <li class="talk">
        <!-- FAKE AVATAR, PLS REPLACE -->
        <img src="{{ .Profile_pic }}" width="60" height="60" alt="">
        <h3 id=""><a href="{{ .FB_post_url }}">{{ .Title }}</a><br>
          <small>by {{ .Speaker }}</small></h3>
        <p class="talk-abstract">{{ .Abstract }}</p>
        <a href="{{ .Url }}"><button>Like</button></a> <span class="vote-text">&larr; Voting coming soon 👍</span>
    </li>
{{ end }}
