<section id="talks">
  <div class="sub-container">
    <h2 class="header-title">Talk proposals</h2>
  </div>
  <div class="sub-wide-container">
    <ul class="talks">
      <li class="talk">
        <!-- FAKE AVATAR, PLS REPLACE -->
        <img src="http://via.placeholder.com/120x120" width="60" height="60" alt="">
        <h3 id="are-we-web-yet">Are We Web Yet? : Building Web Stuff Using Rust <small>by Vigneshwer Dhinakaran</small></h3>
        <p class="talk-abstract">Come and be fascinated by Rust’s mature HTTP stack and various frameworks that enable you to build APIs and backend services quickly.</p>
        <button>Like</button> <span class="vote-text">&larr; Vote by pressing "Like" 👍</span>
      </li>
      <li class="talk">
        <!-- FAKE AVATAR, PLS REPLACE -->
        <img src="http://via.placeholder.com/120x120" width="60" height="60" alt="">
        <h3 id="are-we-web-yet">Algorithms for Startup Founders <small>by Sau Sheong Chang</small></h3>
        <p class="talk-abstract">Algorithms are for everyone, not just for programmers! In this talk I will be discussing how algorithms can be used to help startup founders to figure out some of their most common problems. I will explain how you can use algorithms to hire the best engineers, to decide whether to pivot or persevere, to know what you should do first, to hustle for the best opportunities and to build the best product for the market. Am I for real? Check out my talk and find out! (Individual results may vary).</p>
        <button>Like</button> <span class="vote-text">&larr; Vote by pressing "Like" 👍</span>
      </li>
      <li class="talk">
        <!-- FAKE AVATAR, PLS REPLACE -->
        <img src="http://via.placeholder.com/120x120" width="60" height="60" alt="">
        <h3 id="are-we-web-yet">Algorithms for Startup Founders <small>by Sau Sheong Chang</small></h3>
        <p class="talk-abstract">Algorithms are for everyone, not just for programmers! In this talk I will be discussing how algorithms can be used to help startup founders to figure out some of their most common problems. I will explain how you can use algorithms to hire the best engineers, to decide whether to pivot or persevere, to know what you should do first, to hustle for the best opportunities and to build the best product for the market. Am I for real? Check out my talk and find out! (Individual results may vary).</p>
        <button>Like</button> <span class="vote-text">&larr; Vote by pressing "Like" 👍</span>
      </li>
    </ul>
  </div>
</section>