<section id="talks" class="coc">
    <div class="sub-container">
        <h2 class="header-title">Talk proposals</h2>
        <h3 class="header-title" id="are-we-web-yet">Are We Web Yet? : Building Web Stuff Using Rust</h3>
        <p class="talk-speaker">Full talk by Vigneshwer Dhinakaran</p>  
        <a href="https://www.facebook.com/GeekcampSG/posts/1239255446179306"><button>Vote by liking the post!</button></a>
        <article class="talk-abstract">
          <p>Come and be fascinated by Rust’s mature HTTP stack and various frameworks that enable you to build APIs and backend services quickly.</p>
        </article>

        
        <h3 class="header-title" id="are-we-web-yet">Algorithms for Startup Founders </h3>
        <p class="talk-speaker">Full talk by Sau Sheong Chang</p>  
        <a href="https://www.facebook.com/GeekcampSG/posts/1239255446179306"><button>Vote by liking the post!</button></a>
        <article class="talk-abstract">
          <p>Algorithms are for everyone, not just for programmers! In this talk I will be discussing how algorithms can be used to help startup founders to figure out some of their most common problems. I will explain how you can use algorithms to hire the best engineers, to decide whether to pivot or persevere, to know what you should do first, to hustle for the best opportunities and to build the best product for the market. Am I for real? Check out my talk and find out! (Individual results may vary).</p>
        </article>
</section>


<section id="talk01">
  

</section>
